#menuhead{
height:44px;
background-color:B1191A;
line-height:44px;
color:white;
}
#menucontent{
background-color:#C81623;
}
#menu{
width:190px;
}
#menucontent div:{
height:31px;
}
#menucontent div:hover{
background:white;
}
div{
text-indent:10px;
line-height:31px;
 
}
i{
padding-right:3px;
float:right;
font: 400 9px/14px consolas;
}